* {
    font-family: 'Black Han Sans', sans-serif;
}

.mytitle {
    color: white;
    width: 300px;
    height: 200px;
    background-image: url('https://www.ancient-origins.net/sites/default/files/field/image/Agesilaus-II-cover.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding-top: 40px;
    margin-top: 40px;
}

.wrap {
    /*
    구역을 가운데 정렬하고 싶을때 쓰는 코드다. 
    */
    margin: 10px auto;
    width: 300px;
}